/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */



/* Baisc styles */

body {
	height: 4000px;
}

h1 {
	color: #ccc;
	weight: 300;
}

img {
	max-width: 100%;
}

figure {
	margin: auto;
}

.content#article {
	padding: 100px 0;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

/* Parallax section */

#bird-box {
	position: relative;
	height: 600px;
	background-image: url(back-bird.jpg);
	background-size: auto 600px;
	background-position: top center;
	background-attachment: fixed;
	overflow: hidden;
}

.logo {
	height: 100px;
	width:100%;
	background-image: url(logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top:50%;
	margin-top: -50px;
}

.fore-bird {
	width: 960px;
	height: 733px;
	background-image: url(fore-bird.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	top: 380px;
}

.back-bird {
	width: 960px;
	height: 298px;
	background-image: url(mid-bird.png);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

/* Model grid */


#title2 {
	margin-top: 100px;
}

figure {
	margin-bottom: 20px;
	position: relative;
	opacity: 0;
	transform: translateX(-20px);
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	cursor: pointer;

	&.is-showing {
		opacity: 1;
		transform: translateX(0px);
	}
	img {
		display: block;
		transform: scale(1);
		transition: all 0.3s ease-in-out;
	}
	figcaption {
		position: absolute;
		bottom: 10px;
		left: -100%;
		background: black;
		color: white;
		padding: 2px 8px;
		font-size: 11px;
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		figcaption {
			left: 0%;
		}
		img {
			transform: scale(1.1);
		}
	}
}

/* Large window */

.large-window {
	height: 640px;
	background-image: url(model2.jpg);
	background-position: center 0px;
	background-repeat: repeat-y;
	background-attachment: fixed;
	margin-top: 100px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 100px;

	.window-tint {
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.promo-text {
		color: white;
		font-weight: 100;
		font-size: 50px;
		strong {
			display: block;
			font-size: 30px;
		}
		span {
			font-weight: 300;
			font-size: 18px;
			font-style: italic;
			color: rgba(255,255,255,0.6);
		}
		.cta-window {
			font-size: 20px;
			text-decoration: none;
			color: white;
			border: 1px solid white;
			padding: 10px 20px;
			transition: all 0.3s ease-in-out;
			
			&:hover {
				background: white;
				color: black;
			}
		}
	}
}

.blog-posts {
	margin-top: 100px;

	.post {
		border: 1px solid #e1e1e1;
		padding: 20px 20px 0;
		background: white;
		position: relative;
	}

	.post-1 {
		transform: translate(100px, 20px);
	}

	.post-2 {
		z-index: 2;
	}

	.post-3 {
		transform: translate(-100px, 20px);
	}
}