/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */



/* Baisc styles */

body {
	height: 2000px;
}

h1 {
	color: #ccc;
	weight: 300;
}

img {
	max-width: 100%;
}

figure {
	margin: auto;
}

.content#article {
	padding: 100px 0;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

/* Parallax section */

#bird-box {
	position: relative;
	height: 600px;
	background-image: url(back-bird.jpg);
	background-size: auto 600px;
	background-position: top center;
	background-attachment: fixed;
	overflow: hidden;
}

.logo {
	height: 100px;
	width:100%;
	background-image: url(logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top:50%;
	margin-top: -50px;
}

.fore-bird {
	width: 960px;
	height: 733px;
	background-image: url(fore-bird.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	top: 380px;
}

.back-bird {
	width: 960px;
	height: 298px;
	background-image: url(mid-bird.png);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

/* Model grid */

.clothes-pics .figure {
	margin-bottom: 20px;
	position: relative;
}